.imagem-forca img {
    width: 300px;
}

.container {
    width: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.jogo {
    display: flex;
    justify-content: space-between;
}

.info-jogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.info-jogo button {
    color: white;
    background-color: green;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.array {
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

.teclado {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    flex-wrap: wrap;
}

.teclado button {
    font-size: 30px;
    margin: 10px 15px;
}

.chute {
    display: flex;
    justify-content: space-evenly;
}

.chute p {
    font-size: 21px;
}

.chute input {
    width: 400px;
    font-size: 21px;
    padding-left: 10px;
}

.chute button {
    width: 100px;
    color: blue;
    background-color: aqua;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}